
@keyframes photo {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}



@keyframes slideDownIn {
	0% {transform: translateY(-100%);}
	50% {transform: translateY(8%);}
	85% {transform: translateY(-4%);}
				
	100% {transform: translateY(0%);}		
}
@-webkit-keyframes slideDownIn {
	0% {-webkit-transform: translateY(-100%);}
	50% {-webkit-transform: translateY(8%);}
	65% {-webkit-transform: translateY(-4%);}
	80% {-webkit-transform: translateY(4%);}
	95% {-webkit-transform: translateY(-2%);}			
	100% {-webkit-transform: translateY(0%);}	
}
