$main-white: #fff;
$main-black: #222;
$half-opacity: rgba(255, 255, 255, 0.496);
$white-gray: #BCBCBD;
$blue-gradient: linear-gradient(304.64deg, #231835 -2.91%, #1F1F1F 110.07%);
$grey2: #757575;
$grey3:  #C4C4C4;
$half-opacity-dark: rgba(64, 64, 64, 0.326);
